.btn btn-warning{

font-size:24px;
color: blue;
}

.navbar-brand{
    margin-left: 0px;
}

.btn btn-outline-success{
    width:120%;
}

.title_spring{
    font-family: 'Jua', sans-serif;
    color: blue;
    color: aliceblue;
}